.container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}
.block {
    background-color: #799F66;
    padding: 20px;
    border-radius: 4px;
}
.block h1{
    text-align: center;    
}
.block .btn {
        margin-top: 20px;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        color: #ffffff;
        background-color: transparent;
        border-color: white;
        border-radius: 5px;
        padding: 10px 0;
    }
.block .btn:hover {
    color: black;
    background-color: white;
}
table {
        margin-top: 20px;
        background-color: #9CCB84;
        width: 700px;
        border-collapse: collapse;
        border-radius: 4px;
    }

    th, td {
        padding: 10px 15px;
        color: white;
    }

    thead th {
        font-weight: bold;
        text-align: center;
    }

    tbody th,
    tbody td {
        border: none;
        font-weight: lighter;
        text-align: center;
    }