@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Account" asp-action="Profile">@UserManager.GetUserAsync(User).Result.Name</a>
    </li
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit" class="btn btn-link nav-link text-white" >Вийти</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Увійти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Реєстрація</a>
    </li>
}
</ul>
